<div class="row">
	<div class="">
	<input type="text" class="inputbox input-xs" id="one" ng-model="input" placeholder="Street, city, or state">
	<button class="btn btn" ng-click="getMapdata(input);clicking">submit</button>
	<br><br>
	<div class="row">
	<div class="boxtwo text-center">
		<h2 class="mapinfo">Google Map API</h2>
	</div>
	</div>
	
<p></p>
<div ng-hide="clicking=!clicking" class="mapshow2 text-center">
	<ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
</div>
</div>
</div>